<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".this_is_home_page" %>
  <%= link_to t("tutorial_link"), "https://www.railstutorial.org/" %>
  <%= t ".sample_applcation" %>
</p>
